/* Services */
/* .services__col-text {
  padding-left: 132px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-number);
    font-size: 210px;
    font-family: var(--font-roboto-cond);
    font-weight: 700;
    line-height: 1;
    color: var(--color-brand);
  }
}
*/
