# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Build folder (export) #
########################
out/

# Dependencies #
################
node_modules/

# Development #
###############
.next/

# Logs #
########
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc #
########
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local

# Notes #
#########
__ignore__/

# Production #
##############
build/

# Testing #
###########
coverage/
