/* Block quotes */
.blockquote {
  text-align: center;

  &__text {
    margin-bottom: 8px;
    font-style: initial;
    /* color: #878b94; */
    color: #3a3a3a;
  }

  &__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 14px;
    // color: var(--color-gray-light);
  }

  &__avatar {
    display: block;
    margin-bottom: 8px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  &__autor {
    font-size: 15px;
    font-weight: 700;
  }

  &__position {
    font-size: 15px;
    font-style: italic;
  }
}
