/* */
/* Buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px 28px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid;
  cursor: pointer;
  overflow: hidden;
  transition: border-color .25s ease-in-out;

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: attr(data-text);
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: all .25s ease-in-out;
  }

  &:focus,
  &:hover {
    &::before {
      transform: translateX(0);
    }
  }

  &--black {
    color: var(--color-white);
    background-color: var(--color-brand);
    border-color: var(--color-brand);

    &:focus,
    &:hover {
      color: var(--color-white);
      border-color: var(--color-black);

      &::before {
        background-color: var(--color-black);
      }
    }
  }

  &--black-red {
    color: var(--color-white);
    background-color: var(--color-black);
    border-color: var(--color-black);

    &:focus,
    &:hover {
      color: var(--color-white);
      border-color: var(--color-brand);

      &::before {
        background-color: var(--color-brand);
      }
    }
  }

  &--full-width {
    width: 100%;
  }

  &--red {
    position: relative;
    color: var(--color-white);
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    overflow: hidden;
    transition: border-color .25s ease-in-out;

    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      content: attr(data-text);
      width: 100%;
      height: 100%;
      transform: translateX(100%);
      transition: all .25s ease-in-out;
    }

    &:focus,
    &:hover {
      color: var(--color-brand);
      border-color: var(--color-white);

      &::before {
        background-color: var(--color-white);
        transform: translateX(0);
      }
    }
  }
}
