/* Dropdown */
.dropdown {
  position: relative;

  &__toggler,
  &__menu {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
  }

  &__toggler,
  &__item {
    cursor: pointer;
    transition: var(--tr-full);
  }

  &__toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    height: 35px;
    font-size: 15px;
    border-radius: 3px;

    &:focus,
    &:active {
      outline: 0;
    }

    &:focus,
    &:active,
    &:hover {
      border-color: #999;
    }
  }

  &--full-width {
    width: 100%;
  }

  &__menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
    border-radius: 0 0 3px 3px;

    &--visible {
      display: flex;
    }
  }

  &__item {
    display: block;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    line-height: 1;

    &:hover {
      background-color: #eee;
    }
  }
}
