/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: #fff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .05);

  .list--inline-item:not(:last-child) {
    margin-right: 18px;
  }

  li:not(.quote-btn-wrapper) {
    border-top: 3px solid transparent;
    transition: border-top-color var(--tr-part);

    &:hover {
      border-top-color: var(--color-brand);
    }
  }

  a {
    display: block;
    padding: 8px 12px;
    color: var(--color-black);
    transition: color var(--tr-part);
    text-decoration: none;

    &:hover {
      color: var(--color-brand);
    }
  }

  .btn {
    position: relative;
    padding: 15px 28px;
    font-size: 15px;
  }
}
