/* */
/* Hero */
.hero {
  display: flex;
  flex-flow: column;
  padding: 32px;
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
}

.hero .container {
  z-index: 2;

  /* For Lottie */
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.hero .row {
  width: 100%;
}

@media (max-width: 767px) {
  .hero .row {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .hero .row {
    align-items: center;
  }
}

.hero__heading {
  margin-bottom: 32px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1;

  @media (min-width: 360px) {
    font-size: 50px;
  }

  @media (min-width: 768px) {
    font-size: 65px;
  }
}

.glitch-wrapper {
  & + .hero__text {
    @media (max-width: 767.99px) {
      margin-top: 21px;
    }

    @media (min-width: 768px) {
      margin-top: 8px;
    }
  }
}

/* .hero__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;

  @media (min-width: 22.5em) {
    font-size: 38px;
  }

  @media (min-width: 32em) {
    font-size: 48px;
  }

  @media (min-width: 48em) {
    font-size: 36px;
  }

  @media (min-width: 62em) {
    font-size: 42px;
  }

  @media (min-width: 75em) {
    font-size: 55px;
  }

  span {
    display: block;
    line-height: 1;
  }
} */

.hero__text {
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 300;

  /* & + .hero__link {
    margin-top: 16px;
  } */
}

.hero__link {
  display: inline-block;
  align-self: center;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: var(--color-gray-light);

  &:hover {
    color: var(--color-brand);
  }

  span {
    /* margin-right: 4px; */
    font-size: 14px;
  }
}

/* Lottie animation */
.hero [aria-label=animation] {
  position: relative;
  width: 220px !important;
  height: 220px !important;
  max-width: 100%;
  z-index: 1;

  @media (min-width: 360px) {
    width: 250px !important;
    height: 250px !important;
  }

  /* @media (min-width: 510px) {
    width: 350px !important;
    height: 350px !important;
  } */

  @media (min-width: 768px) {
    width: 400px !important;
    height: 400px !important;
  }
}

@media (max-width: 767px) {
  .hero [aria-label=animation] {
    margin: 0 auto 28px !important;
  }
}

/* Hero scroll icon */
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translate3d(0, 70%, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.hero-scroll-btn {
  position: absolute;
  bottom: 0;
  left: calc(50% - 9px);
  z-index: 2;
  opacity: 0;
  animation: fadeInTop 600ms cubic-bezier(.455, .03, .515, .955) 1500ms forwards;
  cursor: pointer;
  transition: padding 200ms cubic-bezier(.455, .03, .515, .955);
}

.hero-scroll-btn::before {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  display: inline-block;
  width: 1px;
  height: 20px;
  content: '';
  background: rgba(17, 17, 17, .5);
}

.hero-scroll-btn-dot {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 32px;
  border: 2px solid #111;
  border-radius: 15px;
}

.hero-scroll-btn-dot::before {
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  width: 4px;
  height: 4px;
  content: '';
  background: #111;
  border-radius: 50%;
  transition: top 220ms cubic-bezier(.455, .03, .515, .955);
}

.hero-scroll-btn:hover {
  padding-bottom: 5px;
}

.hero-scroll-btn:hover .hero-scroll-btn-dot::before {
  top: 11px;
}

/* Blob */
/* Info: https://codesandbox.io/embed/8zx4ppk01l */
/* .hooks-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  filter: url('#goo');
}

.hooks-main > svg {
  display: none;
}

.hooks-main > div {
  position: absolute;
  background: lightcoral;
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .75);
  opacity: .6;
  will-change: transform;
}

.hooks-main > div:nth-child(1) {
  width: 120px;
  height: 120px;
}

.hooks-main > div:nth-child(2) {
  width: 250px;
  height: 250px;
}

.hooks-main > div:nth-child(3) {
  width: 150px;
  height: 150px;
}

.hooks-main > div::after {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  content: '';
  background: rgba(255, 255, 255, .8);
  border-radius: 50%;
}

.hooks-main > div:nth-child(2)::after {
  top: 70px;
  left: 70px;
  width: 70px;
  height: 70px;
}

.hooks-main > div:nth-child(3)::after {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
} */
