/* Slider */
.slides {
  position: relative;
  margin-bottom: 21px;
}

.slider__slide {
  display: none;
}

.slider__slide--active {
  display: block;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-bottom: 0;
  border-left: 0;
  transition: border-color var(--tr-part);

  &:focus {
    outline: 0;
  }

  &:hover,
  &--active {
    border-color: #333;
    cursor: pointer;
  }
}

.slider__arrow--left {
  left: 32px;
  transform: translateY(-50%) rotate(-130deg);
}

.slider__arrow--right {
  right: 32px;
  transform: translateY(-50%) rotate(45deg);
}

.slider__dots {
  display: flex;
  align-items: center;
  justify-content: center;

  li + li {
    margin-left: 8px;
  }
}

.slider__dot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color var(--tr-part);

  &:hover,
  &--active {
    background-color: #333;
  }
}
