/* */
/* Typography */
html {
	font-size: 16px;
}

body {
	font-size: 1rem;
	font-family: var(--font-roboto);
	line-height: 1.782;
  letter-spacing: remy(.5px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
	margin: 0;
	font-size: 1rem;
  font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: remy(16px) 0;
  font-family: var(--font-roboto-cond);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: remy(.85px);
  /* text-transform: uppercase; */
}

.h1 {
  margin-top: 0;
  font-size: remy(45px);
}

.h2 {
  font-size: remy(34px);
}

.h3 {
  font-size: remy(26px);
}

.h4 {
  font-size: remy(21px);
}

.h5 {
  font-size: remy(18px);
}

.h6 {
  font-size: remy(15px);
}

.heading {
  &--big,
  &--medium {
    font-size: remy(48px);

    @media (min-width: 48em) {
      font-size: remy(76px);
    }
  }

  &--big {
    @media (min-width: 64em) {
      font-size: remy(88px);
    }

    @media (min-width: 120em) {
      font-size: remy(128px);
    }
  }

  &--medium {
    @media (min-width: 64em) {
      font-size: remy(78px);
    }

    @media (min-width: 120em) {
      font-size: remy(96px);
    }
  }

  &--small {
    font-size: remy(23px);
    letter-spacing: remy(1px);

    @media (min-width: 48em) {
      font-size: remy(36px);
    }

    @media (min-width: 64em) {
      font-size: remy(48px);
    }
  }
}

.link--unstyled {
  text-decoration: none;
}

.link--black-red {
  color: var(--color-black);
  transition: color var(--tr-part);

  &:hover {
    color: var(--color-brand);
    cursor: pointer;
  }
}

.link--black-red--selected {
  color: var(--color-brand);
  cursor: pointer;
}

.link--white-red {
  color: var(--color-white);
  transition: color var(--tr-part);

  &:hover {
    color: var(--color-brand);
    cursor: pointer;
  }
}

.text--center {
  text-align: center !important;
}

.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.text--gray-light {
  color: var(--color-gray-light) !important;
}

.text--green {
  color: var(--color-green) !important;
}

.text--regular {
	margin-bottom: remy(20px);
	font-size: remy(16px);
}

.text--small {
	font-size: remy(14px);
}

.text--smaller {
	font-size: remy(12px);
}

.text--lower {
  text-transform: lowercase !important;
}

.text--underline {
  text-decoration: underline;
}
