/* Variables */
:root {
  --color-black: #333;
  --color-brand: #d30320;
  --color-gray: #444;
  --color-gray-light: #9e9e9e;
  --color-green: #64ffda;
	--color-white: #fff;

	/* --font-text: Montserrat, sans-serif; */
	--font-roboto: 'Roboto', Helvetica, Arial, sans-serif;
	--font-roboto-cond: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	/* --font-roboto-mono: 'Roboto Mono', Helvetica, Arial, sans-serif; */

	--radius-small: 4px;

	--tr-full: all .25s ease-in-out;
  --tr-part: .25s ease-in-out;

  /* Styles for Reaviz MapComponent */
  --color-background: #fff;
  --color-on-background: #fff;
  --color-layer-transparent: rgba(0, 0, 0, .9);
  --color-surface: #010101;
  --color-primary: var(--color-brand);
  --color-on-primary: #fff;
}
